{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Outcome of investment
{% endblock %}

{% block content %}

Player A chose: {{group.investment_A}}.
<p>&nbsp;</p>
{% if group.investment_A == "I want to delegate the investment decision to player B." %}
        Player B chose: {{group.investment_B}}.
{% else %}
        Player B did not decided anything.
{% endif %}
<p>&nbsp;</p>
The treatment of the project was {{group.risk}}.
<p>&nbsp;</p>
{% if group.risk == "risk" %}
    The project was {{group.project_success}}.
{% else %}
{% endif %}

<p>&nbsp;</p>
Your total payoff is {{player.payoff}}.
<p>&nbsp;</p>

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    {% next_button %}
{% endblock %}
