{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}


{% block content %}
<p><strong>Timeline:</strong></p>
<p>&nbsp;</p>
<img src="{% static "shifting_blame/timeline.png" %}"/>
<p>&nbsp;</p>
<p>In this experiment participants are allocated into groups of 4 players. The players take on the <strong>roles A, B, C and D</strong> respectively.</p>
<p>Each participant is endowed with 100 points.</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong>Player A and B:</strong></span></p>
<p>First, player A has to make a decision. S/he can choose between two investment projects, which affect the payoffs of all players in the group. S/he chooses between:</p>
<p>- project 1: each player in the group receives 50 points</p>
<p>- project 2: player A and B receive 90 points each and C and D receive 10 points each.</p>
<p>&nbsp;</p>
<p>However, it is possible that the investment is not successful, then each player loses 50 points. Otherwise, each player gets the points stated above.</p>
<p>It is selected randomly with equal probability between two treatments:</p>
<p>- baseline treatment: risk, that the project is not successful is 0%</p>
<p>- risk treatment: risk, that the project is not successful is 30%.</p>
<p>&nbsp;</p>
<p>Player A has also the possibility to delegate the decision to player B. Player B then has to choose, no further delegation is possible. If A decides by her/himself and does not delegate the decision to player B, B remains passive throughout the experiment.</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong>Player C and D:</strong></span></p>
<p>Player C and D are informed about the decision by A (or B) as well as the outcome of the project.</p>
<p>Each of them can then pay 10 of their points to receive 70 punishment points. If they do so, they can allocate these punishment points between the other players A, B, C (or D). Not all punishment points need to be used. If there are not allocated, they are void.</p>
<p>After that, one of the two players C and D is randomly selected and the player's punishment allocation is implemented.</p>

<p>Punishment points reduces the player's payoff by the allocated amount of points. Players cannot have payoffs below 0.</p>

<p>&nbsp;</p>
<p>On the next page the roles are assigned.</p>


<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    {% next_button %}

{% endblock %}
