{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Punishment decision
{% endblock %}


{% block content %}

You bought 70 punishment points in total, which you can split.</br>
Punishment points, which you do not use, are void.</p>


    {%formfield player.punishment_A%}
    {%formfield player.punishment_B%}

{% if player.id_in_group == 3 %} 

    {%formfield player.punishment_D%}

{% else %} 
    {%formfield player.punishment_C%}

{% endif %}

    {% next_button %}
{% endblock %}